<div class="signup-box">
  <h1>Xcelcode</h1>
  <h3>Sign Up</h3>
  <form (ngSubmit)="submitSignup()">
    <div class="user-box">
      <input type="text" name="fullname" id="fullname"   required=""  [(ngModel)]="fullname">
      <label>Full Name</label>
    </div>
    <div class="user-box">
      <input type="text" name="email" id="email"  required="" [(ngModel)]="email">
      <label>Email</label>
    </div>
    <div class="user-box">
      <input type="password" name="password" id="password"  required="" [(ngModel)]="password">
      <label>Password</label>
    </div>
    <button type="submit">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      Sign Up
    </button>
  </form>
  <div class="text-center fs-6">
    <p>Already have an account? <a href="app-login" (click)="goToLogin()">Login</a></p>
  </div>
</div>
